<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="../static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/jquery/jquery-2.1.1.min.js"></script>

    <style>
        body{
            background-image: url("../static/img/login.png");
            background-size: cover;
        }
        .btn-mylg{
            width: 400px;
            height: 137px;
            position: absolute;
            top: 497px;
            left: 570px;
            border-radius: 90px;
            padding-bottom: 14px;
        }
        .log{
            font-size: 40px;
            font-family: verdana;
            font-weight: bold;

        }
    </style>
</head>
<body>
    <button type="button" class="btn btn-success btn-mylg"><font class="log">Let's go!!!</font></button>
</body>
</html>