<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <base th:href="@{/}">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".list-group-item").click(function(){
                if ( $(this).find("ul") ) {
                    $(this).toggleClass("tree-closed");
                    if ( $(this).hasClass("tree-closed") ) {
                        $("ul", this).hide("fast");
                    } else {
                        $("ul", this).show("fast");
                    }
                }
            });
            $("#queryPage").click(
                function (){
                    window.location.href = "/job/show"
                }
            )

            // 给导航栏帮助按钮绑定单响函数，调出模态框，展示帮助
            $("#getHelp").click(function (){
                $("#helpShow").html("本求职助手系统爬取了 51Job（前程无忧） 招聘网站上的 top 20000 条" +
                    "互联网相关职位，<br>且支持岗位查询（包含关键词查询）和统计分析（包含职位信息的地区统计和薪资区间统计）相关功能。<br>" +
                    "用户可以对感兴趣的职位进行收藏，且随时对已收藏职位进行查看，希望本系统能帮助到您 q(≧▽≦q)");
                $("#helpModal").modal("show");
            })
            $("#helpCloseBtn").click(
                function (){
                    $("#helpModal").modal("hide");
                }
            )
            // 给导航栏收藏按钮绑定单响函数，调出模态框，展示收藏数据
            $("#getStar").click(
                function (){
                    $.ajax({
                        "url": "/job/getfullstar",
                        "type": "post",
                        "async": false,
                        "data": {
                            userId: $("#userIdInput").val()
                        },
                        "dataType": "json",
                        success: function (jobList){
                            // console.log("获取收藏请求成功")
                            var starHtml = "";
                            for (let i = 0; i < jobList.length; i++) {
                                var jobName = jobList[i].jobName;
                                var url = jobList[i].url;
                                var companyName = jobList[i].companyName;
                                var companyAddr = jobList[i].companyAddr;
                                var time = jobList[i].time;

                                var starSubHtml =
                                    "<a href='" + url + "'>" + jobName + "</a>"
                                    + "<br>" + companyName
                                    + "&emsp;&emsp;" + companyAddr
                                    + "&emsp;&emsp;" + time + "<br><hr/>";
                                starHtml += starSubHtml;
                            }
                            // console.log(starHtml)
                            $("#starShow").html(starHtml);
                            $("#starModal").modal("show");
                        },
                        error: function (xhr){
                            console.log("获取已收藏清单失败！响应状态码是=" + xhr.status + "说明信息=" + xhr.statusText);
                            layer.msg("服务器忙，请稍后重试")
                        }
                    })
                    $("#starModal").modal("show");
                }
            )
            $("#starCloseBtn").click(
                function (){
                    $("#starModal").modal("hide");
                }
            )
        });
    </script>
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
    </style>
</head>
<body>
    <input id="userIdInput" type="text" th:value="${session.user.id}" hidden="hidden">
    <div th:replace="modal-star :: star"></div>
    <div th:replace="modal-help :: help"></div>
    <div th:replace="head :: head"></div>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="sidebar :: sidebar"></div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <img src="img/job.jpg" style="width: 1141px;height: 620px">
            </div>
        </div>
    </div>

</body>
</html>