<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div id="starModal" class="modal fade" tabindex="-1" role="dialog" th:fragment="star">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">已收藏</h4>
            </div>
            <div class="modal-body" id="starShow">
<!--                <a>test</a>&emsp;qwe<br>-->
<!--                <a>test</a><br>-->
<!--                <a>test</a>-->
            </div>
            <div class="modal-footer">
                <button id="starCloseBtn" type="button" class="btn btn-primary">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>