<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-3 col-md-2 sidebar" th:fragment="sidebar">
        <div class="tree">
            <ul style="padding-left:0px;" class="list-group">
                <li class="list-group-item tree-closed">
                    <a href="javascript:void(0)"><i class="glyphicon glyphicon-dashboard"></i> 管理面板</a>
                </li>
                <li class="list-group-item tree-closed">
                    <span id="queryPage"><i class="glyphicon glyphicon glyphicon-tasks"></i> 岗位查询 </span>
                </li>
                <li class="list-group-item tree-closed">
                                <span><i class="glyphicon glyphicon-ok"></i> 统计分析 <span class="badge"
                                                                                        style="float:right">2</span></span>
                    <ul style="margin-top:10px;display:none;">
                        <li style="height:30px;">
                            <a href="/job/region"><i class="glyphicon glyphicon-check"></i> 地区概览</a>
                        </li>
                        <li style="height:30px;">
                            <a href="/job/salary"><i class="glyphicon glyphicon-check"></i> 薪资概览</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <img src="img/ez.png" style="width: 210px;height: 294px;margin-top: 80px">
    </div>
</html>