<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>地区统计</title>
    <base th:href="@{/}">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
    </style>

    <script type="text/javascript" src="jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="script/docs.min.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="script/echarts.js"></script>

    <script type="text/javascript">

        $(function (){
            $("#queryPage").click(
                function (){
                    window.location.href = "/job/show"
                }
            )
            $(".list-group-item").click(function(){
                if ( $(this).find("ul") ) {
                    $(this).toggleClass("tree-closed");
                    if ( $(this).hasClass("tree-closed") ) {
                        $("ul", this).hide("fast");
                    } else {
                        $("ul", this).show("fast");
                    }
                }
            })

            // 给导航栏收藏按钮绑定单响函数，调出模态框，展示收藏数据
            $("#getStar").click(
                function (){
                    $.ajax({
                        "url": "/job/getfullstar",
                        "type": "post",
                        "async": false,
                        "data": {
                            userId: parseInt($("#userIdInput").val())
                        },
                        "dataType": "json",
                        success: function (jobList){
                            var starHtml = "";
                            for (let i = 0; i < jobList.length; i++) {
                                var jobName = jobList[i].jobName;
                                var url = jobList[i].url;
                                var companyName = jobList[i].companyName;
                                var companyAddr = jobList[i].companyAddr;
                                var time = jobList[i].time;

                                var starSubHtml =
                                    "<a href='" + url + "'>" + jobName + "</a>"
                                    + "<br>" + companyName
                                    + "&emsp;&emsp;" + companyAddr
                                    + "&emsp;&emsp;" + time + "<br><hr/>";
                                starHtml += starSubHtml;
                            }
                            $("#starShow").html(starHtml);
                            $("#starModal").modal("show");
                        },
                        error: function (xhr){
                            console.log("获取已收藏清单失败！响应状态码是=" + xhr.status + "说明信息=" + xhr.statusText);
                            layer.msg("服务器忙，请稍后重试")
                        }
                    })
                    $("#starModal").modal("show");
                }
            )
            $("#starCloseBtn").click(
                function (){
                    $("#starModal").modal("hide");
                }
            )
        })
    </script>

</head>
<body>
    <input id="userIdInput" type="text" th:value="${session.user.id}" hidden="hidden">
    <div th:replace="modal-star :: star"></div>
    <div th:replace="head :: head"></div>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="sidebar :: sidebar"></div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                test1
            </div>
        </div>
    </div>
</body>
</html>